#assignment statement

In [ ]:
x=3
print(1+1)
print(len("hello team almabetter"))
y=3.14
print(y)
a="mighty"
print(a=="mighty")

#multiline statements

In [ ]:
x=1
y=2
z=3
print(y)
a=1+2+3+4+5+6+7+8+9+10
print(a)
my_list=[1]
my_tuple=(1,)
print(my_list,my_tuple)
a=(1+2+3+4+5+6+7+8+9+10,)
print(a)
print(type(a))

a=1
b=2
c=3
print(c)
a,b,c=[1,'a',True],(45,67),{'name':'vikash','age':27}
print(a)
print(b)
print(c)
a,b=b,a
print(a)
print(b)

#python comments

In [ ]:
#this is a comment
#print('hello')
print("hello")
#this is a long comment
#and it extends
#yo multiple lines
a=3
print(a)

#indentation in python

In [ ]:
a=2
b=1
if(b>a):
  a=5
  b=5
print(a)
print(b)

#conditional statements

In [ ]:
i=4
if(i==2):
  print(2)
elif(i==3):
  print(3)
else:
  print('not 2 and 3')

In [ ]:
x=30
if(x==30):
  print('x is greater than 10!')
  print(f'x is {x}')

In [16]:
x==20
if False:
  print('it is true')

In [18]:
x=False
y=True
if x:
  print('y is true')
else:
  ('it will be printed in any case where x is not true')

In [ ]:
city='new delhi'
if (city=='new delhi'):
  print('welcome to indian capital')
elif(city=='mumbai'):
  print('welcome to financial capital of india')
else:
  print("where are you")

In [ ]:
person='jonny'
if(person=='john'):
  print(f'hello {person}')
else:
  print(f'welcome whats your name')

In [ ]:
number1=-2
number2=9
if(number1>0):
  if(number2<10):
    print(number2+number1)
  else:
    print("should be greater than 10")
elif (number1<0):
  print('ahh thats a negative number')
else:
  print("number is zero")

#truthy and falsy

In [ ]:
if False:
  print("what do you say")
else:
  print("i have nothing to say")

In [ ]:
if[None]:
  print("well I really had a bad day")
else:
  print("come on you aced your test")

In [ ]:
if {1,2,3,4}:
  print("this is true")
else:
  print("this is false")