<a href="https://colab.research.google.com/github/moyanshpanwar/python-data-science-/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#functions

In [ ]:
def extract_first_letters(sentence):
  #step 1-get the list of words of the sentence
  words_in_sentence=sentence.split(" ")
  #step 2-write the list comprehension
  first_letters=[word[0] for word in words_in_sentence]
  #step 3-return
  return first_letters
heisenberg_quote='It ceases to exist without me.No,you clearly dont who you are talking to,so let me clue you in.I am not dang'
print(extract_first_letters(heisenberg_quote))

function return the factorial of a number

In [ ]:
def factorial(num):
  result=1
  if(num<0):
    print("factorial is not defined for negative number")
  elif(num>0):
    for i in range(1,num+1):
      result*=i
    print(f'factorial of {num} is {result}')
  else:
    result=1
    print('factorial of 0 is',result)

factorial(5)

function which takes date as a string and prints the quater as output

In [29]:
def assign_quater(user_date):
  date_year=user_date[0:4]
  date_month=user_date[5:7]
  if(date_month>='01') & (date_month<='03'):
    quater_date=date_year+'-Q1'
  elif(date_month>='04') & (date_month<='06'):
    quater_date=date_year+'-Q2'
  elif(date_month>='07') & (date_month<='09'):
    quater_date=date_year+'-Q3'
  else:
    quater_date=date_year+'-Q4'
sample_date='2025-02-11'
date_quater=assign_quater(sample_date)
print(date_quater)
my_quater=assign_quater(sample_date)
print(my_quater)

None
None

function with multiple return statements

In [ ]:
def check_even_or_odd(num):
    print(f'Given number is {num}')
    if num % 2 == 0:
        return 'even'
    else:
        return 'odd'

is_even_odd = check_even_or_odd(10)
print(is_even_odd)

function which element to a list

In [ ]:
def list_append(my_list,elem):
  new_list=my_list+[elem]
  return new_list
heights=[172,175,170,168,170,200]
print(heights)
heights=list_append(heights,elem=40)
print(heights)
heights.append(60)
print(heights)

#scope

In [ ]:
from re import X
def experiment():
  global x
  x=50
  return X

x=25
print(x)
experiment()
print(x)

In [ ]:
def new_experiment():
  x=50
  return x
x=40
print(x)
new_experiment()
print(x)