<a href="https://colab.research.google.com/github/moyanshpanwar/python-data-science-/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#pandas
creating first pandas series

In [ ]:
import pandas as pd
import numpy as np
num_series=pd.Series([1,2,3,4,5,6])
print(num_series)

In [ ]:
number_series=pd.Series([2,3,5,6,8],index=['a','b','c','d','e'],name='Number')
print(number_series)

#pandas data frame
usind 2d array

In [ ]:
import numpy as np
some_2d_array=np.random.randint(2,6,(3,4))
data_frame=pd.DataFrame(some_2d_array,columns=['A','B','C','D'])
print(data_frame)

In [ ]:
import numpy as np
some_2d_array=np.random.randint(2,6,(3,4))
data_frame=pd.DataFrame(some_2d_array,columns=['A','B','C','D'],index=['first','second','third',])
print(data_frame)

using conventional list of lists

In [ ]:
list_of_lists=[['aman',10],['akbar',20],['anthony',30]]
df=pd.DataFrame(list_of_lists,columns=['name','age'])
print(df)

using dictionary

In [ ]:
my_dict={'name':['aman','akbar','anthony'],'age':[10,20,30]}
df=pd.DataFrame(my_dict)
print(df)

In [ ]:
series_dict={'first series':pd.Series([10,20,30,40]),
            'second series':pd.Series([10,20,30,40])}
df=pd.DataFrame(series_dict)
print(df)

using list of dictionary

In [ ]:
list_dicts=[{'a':1,'b':2,'c':3},{'a':10,'b':20,'c':30}]
df=pd.DataFrame(list_dicts)
print(df)

other ways

In [ ]:
actor_names=['ryan reynolds','benedict cumberbatch','robert downey jr','chris evans']
actor_ages=[48,62,54,np.nan]
list_of_tuples=list(zip(actor_names,actor_ages))
actor_df=pd.DataFrame(list_of_tuples,columns=['name','age'])
print(actor_df)

#data frame methods

In [ ]:
actor_names=['ryan reynolds','benedict cumberbatch','robert downey jr','chris evans']
actor_ages=[48,62,54,np.nan]
list_of_tuples=list(zip(actor_names,actor_ages))
actor_df=pd.DataFrame(list_of_tuples,columns=['name','age'])
print(actor_df)
print(list(actor_df.index))

data frame with 100 rows and 5 columns

In [ ]:
our_array=np.random.randn(3,5)
df=pd.DataFrame(our_array,columns=['A','B','C','D','E'])
print(df)

df.head()

In [ ]:
our_array=np.random.randn(3,5)
df=pd.DataFrame(our_array,columns=['A','B','C','D','E'])
print(df)
print(df.head())

df.tail()

In [ ]:
our_array=np.random.randn(3,5)
df=pd.DataFrame(our_array,columns=['A','B','C','D','E'])
print(df)
print(df.tail())

df.columns()

In [ ]:
our_array=np.random.randn(3,5)
df=pd.DataFrame(our_array,columns=['A','B','C','D','E'])
print(df)
print("\n")
print(df.columns)

info()

In [ ]:
our_array=np.random.randn(3,5)
df=pd.DataFrame(our_array,columns=['A','B','C','D','E'])
print(df)
print("\n")
print(df.info())

rename()

In [ ]:
actor_names=['ryan reynolds','benedict cumberbatch','robert downey jr','chris evans']
actor_ages=[48,62,54,np.nan]
list_of_tuples=list(zip(actor_names,actor_ages))
actor_df=pd.DataFrame(list_of_tuples,columns=['name','age'])
print(actor_df)
print("\n")
actor_df=actor_df.rename(columns={'name':'actor_name'})
print(actor_df)

inplace

In [ ]:
actor_names=['ryan reynolds','benedict cumberbatch','robert downey jr','chris evans']
actor_ages=[48,62,54,np.nan]
list_of_tuples=list(zip(actor_names,actor_ages))
actor_df=pd.DataFrame(list_of_tuples,columns=['name','age'])
print(actor_df)
print("\n")
actor_df=actor_df.rename(columns={'name':'actor_name'},inplace=True)
print(actor_df)